.homepage {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.homepage .hero {
  align-items: center;
  background-color: #000000b2;
  background-image: url(./hero.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 614px;
  padding: 0px 166px;
  position: relative;
  width: 1440px;
}

.homepage .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 295px;
  padding: 20px 0px;
  position: relative;
  width: 528px;
}

.homepage .div {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.homepage .text {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 8px 12px;
  position: relative;
}

.homepage .text-wrapper {
  color: #ffffff;
  font-family: "Figtree-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-wrapper-2 {
  color: #ffffff;
  font-family: "Figtree-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  opacity: 0.6;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .buttons {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  margin-right: -314.00px;
  position: relative;
}

.homepage .text-wrapper-3 {
  color: #ffffff;
  font-family: "Figtree-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .button {
  all: unset;
  align-items: center;
  background-color: #309589;
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 14px 20px;
  position: relative;
}

.homepage .text-wrapper-4 {
  color: #ffffff;
  font-family: "Figtree-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-inputs-icons {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 80px;
  height: 431px;
  position: relative;
}

.homepage .div-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.homepage .div-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.homepage .text-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.homepage .text-wrapper-5 {
  color: #ff5c00;
  font-family: "Figtree-Bold", Helvetica;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 80px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.homepage .p {
  align-self: stretch;
  color: #ffffff;
  font-family: "Figtree-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.homepage .how-it-works {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 472px;
  padding: 60px 0px 120px;
  position: relative;
  width: 1440px;
}

.homepage .text-wrapper-6 {
  color: var(--defaultblack);
  font-family: "Figtree-Bold", Helvetica;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-wrapper-7 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--defaultblack);
  display: -webkit-box;
  font-family: "Figtree-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 37px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  width: 646px;
}

.homepage .cards {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  margin-bottom: -99.00px;
  margin-top: -1px;
  position: relative;
}

.homepage .card {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 3px 8px #30968914;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 280px;
  justify-content: center;
  position: relative;
  width: 306px;
}

.homepage .icon-bg {
  height: 60px;
  position: relative;
  width: 60px;
}

.homepage .text-3 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  height: 81px;
  position: relative;
}

.homepage .text-wrapper-8 {
  color: var(--defaultblack);
  font-family: "Figtree-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-wrapper-9 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #000000;
  display: -webkit-box;
  font-family: "Figtree-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  width: 240px;
}

.homepage .text-wrapper-10 {
  color: #000000;
  font-family: "Figtree-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: 240px;
}

.homepage .search {
  align-items: flex-start;
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.homepage .text-icons-bg {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  height: 80px;
  padding: 20px;
  position: relative;
}

.homepage .text-icons {
  align-items: center;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.homepage .text-4 {
  align-items: center;
  align-self: stretch;
  border-color: #c7c7c799;
  border-right-style: solid;
  border-right-width: 1px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 20px;
  position: relative;
}

.homepage .text-wrapper-11 {
  color: #00000080;
  font-family: "Figtree-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -8.50px;
  margin-top: -10.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-icon {
  align-items: center;
  align-self: stretch;
  border-color: #c7c7c799;
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  gap: 12px;
  position: relative;
  width: 180px;
}

.homepage .text-wrapper-12 {
  color: #00000080;
  font-family: "Figtree-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .img {
  height: 24px;
  position: relative;
  width: 24px;
}

.homepage .text-icon-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 12px;
  position: relative;
  width: 180px;
}

.homepage .button-2 {
  all: unset;
  align-items: center;
  align-self: stretch;
  background-color: #309689;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 14px 28px;
  position: relative;
}

.homepage .search-2 {
  height: 16px;
  position: relative;
  width: 16px;
}

.homepage .text-wrapper-13 {
  color: #ffffff;
  font-family: "Figtree-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.homepage .jobs {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1197px;
  justify-content: space-between;
  padding: 60px 0px;
  position: relative;
  width: 1440px;
}

.homepage .icons-text {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 600px;
}

.homepage .icon-text {
  align-items: center;
  display: flex;
  gap: 12px;
  position: relative;
  width: 160px;
}

.homepage .text-wrapper-14 {
  color: #ffffff;
  font-family: "Figtree-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-wrapper-15 {
  color: #ffffffcc;
  font-family: "Figtree-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-5 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 1296px;
}

.homepage .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.homepage .text-wrapper-16 {
  color: #309689;
  font-family: "Figtree-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.homepage .cards-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 944px;
  position: relative;
  width: 100%;
}

.homepage .card-2 {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 3px 8px #30968914;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 28px;
  padding: 40px;
  position: relative;
  width: 1296px;
}

.homepage .text-badge-icon {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.homepage .badge-icon {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.homepage .badge {
  align-items: flex-start;
  background-color: #3096891a;
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  height: 28px;
  padding: 8px;
  position: relative;
}

.homepage .element-min-ago {
  color: #309689;
  font-family: "Figtree-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .logo {
  height: 40px;
  position: relative;
  width: 40px;
}

.homepage .text-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.homepage .developer-expert-in {
  color: var(--defaultblack);
  font-family: "Figtree-SemiBold", Helvetica;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .armstrong-o-hara-and {
  color: var(--defaultblack);
  font-family: "Figtree-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .div-4 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.homepage .icons-text-2 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.homepage .icon-text-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.homepage .text-wrapper-17 {
  color: var(--gray-600);
  font-family: "Figtree-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .info-block {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 86px;
  padding: 120px 72px 60px;
  position: relative;
  width: 100%;
}

.homepage .img-text-buttons {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 86px;
  position: relative;
}

.homepage .img-2 {
  background-image: url(./img.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px;
  flex: 0 0 auto;
  position: relative;
}

.homepage .text-buttons {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.homepage .text-wrapper-18 {
  color: var(--defaultblack);
  font-family: "Figtree-Bold", Helvetica;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 531px;
}

.homepage .button-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.homepage .text-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 29px;
  position: relative;
  width: 306px;
}

.homepage .text-wrapper-19 {
  color: #309689;
  font-family: "Figtree-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-wrapper-20 {
  color: #000000;
  font-family: "Figtree-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .testimonials {
  align-items: center;
  background-color: #ebf5f4;
  background-image: url(./testimonials.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 1290px;
  justify-content: center;
  padding: 120px 0px;
  position: relative;
  width: 1440px;
}

.homepage .video {
  align-self: stretch;
  background-color: #00000080;
  background-image: url(./video.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px;
  height: 714px;
  margin-top: -110.00px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.homepage .button-text {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 60px;
  left: 172px;
  position: relative;
  top: 219px;
}

.homepage .good-life-begins {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #ffffff;
  display: -webkit-box;
  font-family: "Figtree-Bold", Helvetica;
  font-size: 50px;
  font-weight: 700;
  height: 132px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  width: 952px;
}

.homepage .text-wrapper-21 {
  color: var(--defaultblack);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.homepage .cards-3 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  margin-bottom: -110.00px;
  position: relative;
}

.homepage .card-3 {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 3px 8px #3096890d;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  padding: 40px;
  position: relative;
  width: 416px;
}

.homepage .div-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.homepage .stars {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.homepage .star {
  height: 19.03px;
  position: relative;
  width: 19.9px;
}

.homepage .text-wrapper-22 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-wrapper-23 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #000000;
  display: -webkit-box;
  font-family: "Figtree-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 94px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 331px;
}

.homepage .avatar-text {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.homepage .avatar {
  background-image: url(./avatar.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50px;
  height: 64px;
  position: relative;
  width: 64px;
}

.homepage .text-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.homepage .text-wrapper-24 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-wrapper-25 {
  color: #00000099;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .quotes {
  height: 30px;
  left: 336px;
  position: absolute;
  top: 266px;
  width: 40px;
}

.homepage .text-wrapper-26 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 107px;
}

.homepage .avatar-2 {
  background-image: url(./avatar-2.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50px;
  height: 64px;
  position: relative;
  width: 64px;
}

.homepage .footer {
  align-items: center;
  background-color: #060a40;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  padding: 100px 202px 60px;
  position: relative;
  width: 1440px;
}

.homepage .text-icons-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  margin-left: -130.00px;
  margin-right: -130.00px;
  position: relative;
  width: 1296px;
}

.homepage .text-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 128px;
}

.homepage .text-wrapper-27 {
  color: var(--defaultwhite);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.homepage .text-wrapper-28 {
  color: var(--defaultwhite);
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-wrapper-29 {
  color: var(--defaultwhite);
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-wrapper-30 {
  color: var(--defaultwhite);
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-wrapper-31 {
  color: var(--defaultwhite);
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .text-input-button {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.homepage .text-wrapper-32 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Figtree-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.homepage .input {
  background: none;
  border: 1px solid;
  border-color: #ffffff99;
  border-radius: 12px;
  color: #ffffff99;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  letter-spacing: 0;
  line-height: 16px;
  overflow: hidden;
  padding: 0;
  padding-left: 21px;
  position: relative;
  white-space: nowrap;
  width: 306px;
}

.homepage .button-3 {
  all: unset;
  align-items: center;
  background-color: #e5322d;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  height: 50px;
  justify-content: center;
  overflow: hidden;
  padding: 15px 40px;
  position: relative;
  width: 306px;
}

.homepage .text-wrapper-33 {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
